In [ ]:
import pandas as pd
import numpy as np
import os
import seaborn as sb
import random

In [ ]:
df=pd.read_csv(r"C:\Users\JEEVANSH\Downloads\Dataset.csv")

In [ ]:
df

           Fruit  Temp  Humid (%)  Light (Fux)  CO2 (pmm) Class
0         Orange    22         95     7.358649        361  Good
1         Orange    24         95    14.835898        370   Bad
2      Pineapple    25         95    10.104045        355   Bad
3         Banana    25         89    20.179643        388  Good
4         Tomato    23         90    12.621448        316  Good
...          ...   ...        ...          ...        ...   ...
10990     Tomato    25         95   104.217520        321   Bad
10991     Tomato    25         95   103.427398        314   Bad
10992     Tomato    26         95   103.427398        324   Bad
10993     Tomato    25         95   103.427398        316   Bad
10994     Tomato    25         95   103.427398        313   Bad

[10995 rows x 6 columns]

In [ ]:

# 1️⃣ Source file path (from your drive)
source_path = r"C:\Users\JEEVANSH\Downloads\Dataset.csv"

# 2️⃣ Read the file
df = pd.read_csv(source_path)

# 3️⃣ Define subfolder name
subfolder = "fruits_data"

# 4️⃣ Create subfolder if it doesn't exist
os.makedirs(subfolder, exist_ok=True)

# 5️⃣ Save inside subfolder
destination_path = os.path.join(subfolder, "dataset.csv")

df.to_csv(destination_path, index=False)

print("File saved inside subfolder successfully!")

File saved inside subfolder successfully!

In [ ]:
df.iloc[:, 2:5] = df.iloc[:, 2:5].apply(pd.to_numeric, errors='coerce')

In [ ]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
string_cols = df.select_dtypes(include=['object']).columns

C:\Users\JEEVANSH\AppData\Local\Temp\ipykernel_211644\3404276129.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  string_cols = df.select_dtypes(include=['object']).columns

In [ ]:
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# Fill string with mode
df[string_cols] = df[string_cols].fillna(df[string_cols].mode().iloc[0])

In [ ]:
df.isnull().sum()

Fruit          0
Temp           0
Humid (%)      0
Light (Fux)    0
CO2 (pmm)      0
Class          0
dtype: int64

In [ ]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10995 entries, 0 to 10994
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fruit        10995 non-null  str
 1   Temp         10995 non-null  int64
 2   Humid (%)    10995 non-null  int64
 3   Light (Fux)  10995 non-null  float64
 4   CO2 (pmm)    10995 non-null  int64
 5   Class        10995 non-null  str
dtypes: float64(1), int64(3), str(2)
memory usage: 515.5 KB

In [ ]:
df.head(5)

       Fruit  Temp  Humid (%)  Light (Fux)  CO2 (pmm) Class
0     Orange    22         95     7.358649        361  Good
1     Orange    24         95    14.835898        370   Bad
2  Pineapple    25         95    10.104045        355   Bad
3     Banana    25         89    20.179643        388  Good
4     Tomato    23         90    12.621448        316  Good

In [ ]:
import random

def generate_expiry(row):
    base = 10
    
    # reduce expiry if temperature is high
    temp_factor = (row["Temp"] - 20) * 0.5
    
    # reduce expiry if humidity is high
    humid_factor = (row["Humid (%)"] - 80) * 0.2
    
    # random noise
    noise = random.uniform(-1, 1)
    
    expiry = base - temp_factor - humid_factor + noise
    
    return max(1,round(expiry))
df["Expiry_Days"] = df.apply(generate_expiry, axis=1)

df.head()

       Fruit  Temp  Humid (%)  Light (Fux)  CO2 (pmm) Class  Expiry_Days
0     Orange    22         95     7.358649        361  Good            6
1     Orange    24         95    14.835898        370   Bad            5
2  Pineapple    25         95    10.104045        355   Bad            4
3     Banana    25         89    20.179643        388  Good            6
4     Tomato    23         90    12.621448        316  Good            6

In [ ]:
df['Expiry_Days']>=1

0        True
1        True
2        True
3        True
4        True
         ...
10990    True
10991    True
10992    True
10993    True
10994    True
Name: Expiry_Days, Length: 10995, dtype: bool

In [ ]:
df.rename(columns={'CO2 (pmm)':'gas level'},inplace=True)

In [ ]:
df

           Fruit  Temp  Humid (%)  Light (Fux)  gas level Class  Expiry_Days
0         Orange    22         95     7.358649        361  Good            6
1         Orange    24         95    14.835898        370   Bad            5
2      Pineapple    25         95    10.104045        355   Bad            4
3         Banana    25         89    20.179643        388  Good            6
4         Tomato    23         90    12.621448        316  Good            6
...          ...   ...        ...          ...        ...   ...          ...
10990     Tomato    25         95   104.217520        321   Bad            4
10991     Tomato    25         95   103.427398        314   Bad            4
10992     Tomato    26         95   103.427398        324   Bad            3
10993     Tomato    25         95   103.427398        316   Bad            4
10994     Tomato    25         95   103.427398        313   Bad            4

[10995 rows x 7 columns]

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df

           fruit  temp  humid (%)  light (fux)  gas level class  expiry_days
0         Orange    22         95     7.358649        361  Good            6
1         Orange    24         95    14.835898        370   Bad            5
2      Pineapple    25         95    10.104045        355   Bad            4
3         Banana    25         89    20.179643        388  Good            6
4         Tomato    23         90    12.621448        316  Good            6
...          ...   ...        ...          ...        ...   ...          ...
10990     Tomato    25         95   104.217520        321   Bad            4
10991     Tomato    25         95   103.427398        314   Bad            4
10992     Tomato    26         95   103.427398        324   Bad            3
10993     Tomato    25         95   103.427398        316   Bad            4
10994     Tomato    25         95   103.427398        313   Bad            4

[10995 rows x 7 columns]

In [ ]:
df.to_csv(r"fruits_data/data_cleaned.csv", index=False)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load dataset
df = pd.read_csv(r"fruits_data/data_cleaned.csv")

# Set seaborn style
sns.set(style="whitegrid")
ngtthhgyttyt5tetet5et4tt4tyty=][]p'';;
# Create a scatter plot
sns.scatterplot(x="Hours", y="Marks", data=df)

# Add title
plt.title("Hours Studied vs Marks Scored")

# Show plot
plt.show()

: